/*.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
}


        
      
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
}*/

/*.text {

    text-align: left;
      margin-left: 30px; 
  
      font-size: 40px;
      background-color: brown;
   
      
  }*/
  /*.aa{
      border-color: blue;
      background-color: brown;
  }*/
  #aname{
      display: inline-block;
      background-color: brown;
  }





  
  


  
  



